<html lang="en">

<head>

  <meta charset="utf-8">
  <title>TinyApp</title>
</head>

<body>
  <h1> TinyApp </h1>
   <% if(user_id !== undefined) {%>
   <form method = "POST" action = "/logout">
    <p>
      <a href = "/urls/new">Create New TinyURL</a>
    </p>
    <button type="submit">Logout</button>
  </form>
   <p> Logged In as <%= user_id.email %> ! </p>
    <%} else {%>
  <p><a href='/login'> Login </a></p>
  <p><a href='/register'> Register </a></p>
  <%}%>
</body>
</html>