<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>TinyApp</title>

</head>

<body style="font-size:20px; padding:50px;">
  <h1><b> TinyApp </b></h1>
    <!-- Add EJS code here -->
    <h2> LOGIN </h2>
    <form method="POST" action="/login">
         <p>
          Email :
          <input name = "email" type = "email"l>
        </p>
        <p>
          Password:
          <input name = "password" type = "password">
        </p>
        <button type="submit">
        Submit
        </button>
    </form>
    <p> Don't have an account yet ??? <a href = '/register'> Register Here </a></p>
    <% if(error[0]) { %>
      <p> <%= error[1]%> </p>
    <% } %>
</body>
